html, body {
  margin:0;
  padding:0;
  height: 1600px;
}

/* .left { */
  /* width: 50%;
  background-color:black;
} */

.topNavLinks {
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  float: right;
}

.aboout {
  position: relative;
  top: 6px;
  left: 785px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.skills {
  position: relative;
  bottom: 24px;
  left: 933px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.resume{
  position: relative;
  bottom: 54px;
  left: 1083px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.right {
  position: relative;
  top: 36px;
  left: 1233px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.topNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  height: 50px;
  padding: 30px;
  margin: 0px;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;

}

#bottomNav{
  background-color: rgb(26, 35, 51);
  width: 94%;
  height: 15px;
  padding: 30px;
  margin: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 16px;
  color: whitesmoke;
  z-index: 1;
  align-self: baseline;
}

.skillsIntro {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 450px;
  height: 200px;
  font-size: 24px;
}

#logo {
  float: left;
  background-color: black;
  color: white;
  font-size: 72px;
  font-family: 'Oswald', sans-serif;

}


p {
  font-family: 'Oswald', sans-serif;
  color: black;
}


.skillsHead {
  position: relative;
  top: 150px;
  left: 0;
  width: 1350px;
  height: fit-content;
  background-color: rgb(62, 73, 83);
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}


.caseName{
  font-weight: bolder;
  width: 300px;
}

button {
  margin-top: 20px;
  line-height: 60px;
  width: 180px;
  font-weight: bold;
  padding: 0 40px;
  border: none;
  background-color: black;
  color: white;
      }

button:hover {
  background-color: rgb(62, 73, 83);
  color: white;
      }


#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  text-align: end;
  }
  
  .preloader img {
    animation: linear 1s ease;
    transition: all;
    width: 300px;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }